:root {
    --ck-sample-editor-min-height: 400px;
}

.editor__editable,
    /* Classic build. */
main .ck-editor .ck.ck-content,
    /* Decoupled document build. */
.ck.editor__editable,
.ck.ck-editor__editable,
    /* Inline & Balloon build. */
.ck.editor {
    width: 100%;
    min-height: var(--ck-sample-editor-min-height);
}

.nvt {
    height: 80vh;
    resize: none; /* Запрещаем изменять размер */
}

.nvn {
    width: 100%;
    background: transparent; /* прозрачность */
    resize: none; /* Запрещаем изменять размер */
    border: none; /* убрать рамки */
    font-size: 20px; /* h4 */
    font-weight: bolder
}

.inf1 {
    font-size: small
}

.btn {
    margin-: initial;
}