<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.2/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/category.css">

    <title>Редактирование категории</title>
</head>

<body>

<div th:replace="~{fragments/navigation :: navigation}"></div>

<main>

    <div class="container">

        <h4 class="pt-3">Редактирование категории</h4>

        <div class="row ">
            <div class="col-sm-8">
                <div id="category">
                    <label for="name-category">Имя категории</label>
                    <textarea id="name-category" class="form-control bg-light cve text-center" rows="1"
                              th:text="${category.getName()}">
                    </textarea>

                    <br>

                    <label for="content-category">Описание категории</label>
                    <textarea id="content-category" class="form-control bg-light cve text-center"
                              th:text="${category.getDescription()}">
                    </textarea>

                    <br>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="info-category">
                    <a>Информация:</a>
                    <div class="text-muted inf1" th:text="|Публичный идентификатор: ${category.getId()}|"/>
                    <div class="text-muted inf1" th:text="|Дата и время создания: ${category.getCreatedAt()}|"/>
                    <div class="text-muted inf1" th:text="|Дата и время обновления: ${category.getUpdatedAt()}|"/>
                    <br>
                </div>
            </div>
            <div class="d-grid gap-2 d-flex">
                <button type="button" class="btn btn-primary btn-sm"
                        data-bs-toggle="modal" data-bs-target="#save-category">Сохранить
                </button>
            </div>
        </div>

    </div>

</main>

<!-- Подтверждение сохранения категории -->
<div class="modal fade" id="save-category" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3">
                    <h4>Подтверждение сохранения категории</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary float-end" data-bs-dismiss="modal" th:category-id="${category.getId()}"
                        onclick="updateCategory(this.getAttribute('category-id'))">Сохранить
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end -->

<!--Уведомление об успешном сохранение категории-->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="notifySuccess" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         data-bs-autohide="true" data-bs-delay="2500">
        <div class="toast-header">
            <strong class="me-auto">Сохранено</strong>
            <small>Сейчас</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
        <div class="toast-body">Категория сохранена успешно</div>
    </div>
</div>
<!--end-->

</body>
</html>

<script type="text/javascript" src="/webjars/axios/1.6.2/dist/axios.min.js"></script>
<script type="text/javascript" src="/webjars/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/category.js"></script>