<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.2/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/note.css">

    <script src="/js/ckeditor.js"></script>

    <title>Заметка</title>
</head>

<body>

<div th:replace="~{fragments/navigation :: navigation}"></div>

<main>

    <div class="container pt-3">
        <div id="info-note">
            <div class="row">
                <div class="col-xxl-4">
                    <div class="text-muted inf1" th:text="'Публичный идентификатор: ' + ${note.getId()}"/>
                    <div class="text-muted inf1" th:text="'Дата и время создания: ' + ${note.getCreatedAt()}"/>
                    <div class="text-muted inf1" th:text="'Дата и время обновления: ' + ${note.getUpdatedAt()}"/>
                </div>
                <div class="col-xxl-8">
                    <div id="note">
                        <textarea id="name-note" class="text-center nvn"
                                  th:text="${note.getName()}">Заметка
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px">
            <button type="button" class="btn btn-primary btn-sm"
                    data-bs-toggle="modal" data-bs-target="#save-note">Сохранить
            </button>
            <button type="button" class="btn btn-primary btn-sm"
                    onclick="changeReadOnlyStatus()">Редактировать
            </button>
        </div>
        <div class="centered">
            <div class="row row-editor">
                <div class="editor-container">
                    <label for="content-note"></label>
                    <textarea id="content-note" class="editor ck-editor__editable_inline read nvt"
                              th:text="${note.getDescription()}">
                    </textarea>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- Подтверждение сохранения заметки -->
<div class="modal fade" id="save-note" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3">
                    <h4>Подтверждение сохранения заметки</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary float-end" data-bs-dismiss="modal" th:note-id="${note.getId()}"
                        onclick="updateNote(this.getAttribute('note-id'))">Сохранить
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end -->

<!--Уведомление об успешном сохранение заметки-->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="notifySuccess" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         data-bs-autohide="true" data-bs-delay="2500">
        <div class="toast-header">
            <strong class="me-auto">Сохранено</strong>
            <small>Сейчас</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
        <div class="toast-body">
            Заметка сохранена успешно
        </div>
    </div>
</div>
<!--end-->

</body>
</html>

<script type="text/javascript" src="/webjars/axios/1.6.2/dist/axios.min.js"></script>
<script type="text/javascript" src="/webjars/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/note.js"></script>